# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
.venv/
.Python

# VS Code
.vscode/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
*.mo

# Django Migrations
**/migrations/
!*/migrations/__init__.py

# PostgreSQL (just in case you export/import dumps)
*.sql
*.dump

# Secret files
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# PyCharm
.idea/

# Coverage & Testing
htmlcov/
.coverage
.tox/
.pytest_cache/

# node (if using frontend tools like React or Tailwind)
node_modules/
npm-debug.log

# Build
build/
dist/
*.egg-info/

# Swagger / API schema cache
*.swagger.json
*.schema.json
